.cardin{
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  margin: 50px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn{
  margin: 0 20px;
  padding-bottom: 10px;
}
.btn:hover{
  opacity: 0.7;
}
.interativo{
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px 5px;
  border-radius: 5px;
}
*,h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}
.content{
  display: flex;
  justify-content: center;
}
.tecnologia{
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
}
.box-linguagem{
  width: 100%;
  margin-top: 30px;
}
.box-linguagem-icon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box-flex-icon {
  background-color: #eee;
  /* width: 200px; */
  /* border-radius: 5px; */
  margin: 10px;
  /* border-bottom: 10px solid #313131; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.box-flex-icon:hover {
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 opacity: 0.7;
 cursor: pointer;
}
.projetos{
  width: 100%;
  background-color: #0c0c0c;
  padding-bottom: 50px;
}
.box-projeto{
  padding-top: 100px;
  width: 100%;
  margin-top: 70px;
}
.box-projeto .title{
  text-align: center;
  padding: 30px 0;
}
.box-projeto_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box-projeto-flex {
  color: #000;
  width: 400px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
h2{
  font-size: 16px;
}
.category{
  background-color: #0c0c0c;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category h4 {
  margin: 0;
  font-size: 12px;
}
.box-flex-icon{
  padding: 0;
}
.header-mat{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-mat h2 {
  margin: 0;
  padding: 0;
}

.categoryRodape{
  position: relative;
  color: #fff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categoryRodape h4 {
  font-size: 12px;
}

.linformativo{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
/* .container{
 background-color: #eee;
 width: 100px; 
 padding: 2px 5px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container h5 {
  font-size: 12px;
  font-weight: 600;
} */
i{
  background-color: black;
  border-radius: 50%;
  font-size: 10px;
}

.bodyCard{
  padding: 0 5px;
}
.atualiza{
  font-size: 10px;
  margin-top: 10px;
}
.atualiza .atualiza_title{
  font-weight: 500;
}
.atualiza .atualiza_value{
  color: #011;
}
.rent_dia{
  padding: 5px;
  margin: 5px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.rent_dia h4{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: 500;
}
.rent_dia h6{
  margin: 20px 0;
  font-size: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: 500;
}
#appearance-select{
  appearance: none;
  background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #fffdfd ;
  background-position: 218px center;
  width: 250px;
  height:30px;
  border:1px solid #ddd;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  padding: 5px;
}
.indicativo{
  display: flex;
  justify-content: space-between;
}
.div-select h2{
  text-align: left;
  margin-left: 10px;
}
.input{
  display: flex;
  justify-content: left;
  margin-left: 20px;
}
#category{
  padding: 5px;
  border:1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#sub{
  padding: 5px;
  border-radius: 0;
  border:1px solid #ddd;
  background-color: rgb(252, 9, 41);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}
#sub:hover{
  cursor: pointer;
  opacity: 0.7;
}
.central{
  display: flex;
  justify-content: center;
  width: 100%;
}
.contain-spinner{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#consortium{
  padding: 5px;
  border:1px solid #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
.paginate{
  display: flex;
  justify-content: center;
}
.paginate{
  margin-top: 30px;
}
.paginate h2 {
  margin: 0 10px;
}
.link_estilizado{
    text-decoration: none !important;
    color: #000;
}
.link_estilizado:hover{
  text-decoration: none !important;
  color: #000;
}